@import "../../scss/common";
@import "../../scss/mixin";
@import "../../scss/typography";
@import "../../scss/variables";

.header_filler {
    height: 80px;
}

section.home_content_screen {
    padding-top: 64px;
    padding-bottom: 60px;
    background-color:$dark;
    position:relative;
    z-index:2;
    .screen_container {

        .content_grid {
            display: grid;
            grid-template-columns: 4fr 3fr;
            gap: 80px;

            @media only screen and (max-width:$laptop) {
                gap: 40px;
                grid-template-columns: 4fr;
            }

            .left {}

            .right {
                border-left: 1px solid #262626;
                padding-left: 80px;

                @media only screen and (max-width:$laptop) {
                    padding-left: 0px;
                    border-style: none;
                }

                .in_progress {
                    p {
                        &.dark {
                            color: $textPrimary;
                            margin: 32px 0px 12px;
                        }
                    }

                    button {
                        width: 100%;
                        margin-top: 20px;
                    }
                }
            }
        }
    }

}

