@import "../../../scss/typography";
@import "../../../scss/variables";


.stepper_title{
    h5{
        letter-spacing:1px;
        @include font('SpaceGrotesk-Regular', 26px, 30px, 400, $white);
        margin:0px 0px 0px;
        text-transform: capitalize;    
        @media only screen and (max-width:$tab) {
            @include font('SpaceGrotesk-Regular', 22px, 26px, 400, $white);
        }    
    }
}