@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";

section.choose_plan {
    position: relative;

    .content_wrap {
        position: relative;
        z-index: 5;
    }

    .choose_plan_glass {
        height: 300px;
        width: 300px;
        background-color: $primary;
        border-radius: 50%;
        position: absolute;
        filter: blur(180px);
        z-index: 1;
        transition: all 0.6s ease-in-out;

        &.a {
            height: 200px;
            width: 200px;
            filter: blur(130px);
            top: 150px;
            left: 600px;

            @media only screen and (max-width:$tab) {
                left: 0px;
            }
        }

        &.b {
            bottom: 50px;
            right: 400px;

            @media only screen and (max-width:$tab) {
                right: 0px;
            }
        }

        &.c {
            height: 200px;
            width: 200px;
            filter: blur(130px);
            background-color: $secondary;
            bottom: 450px;
            right: 400px;

            @media only screen and (max-width:$tab) {
                right: 0px;
            }
            @media only screen and (max-width:$mobile){
                display: none;
            }
        }
    }
}