@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";

section.success_analytics {
    padding-top: 130px;
    @media only screen and (max-width:$tab){
        padding-top:80px;
    }
    @media only screen and (max-width:$mobile){
        padding-top:60px;
    }

    .content_wrap {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        gap: 80px;

        @media only screen and (max-width:$laptop){
            display:flex;
            flex-direction: column-reverse;

        }

        .graph_sec {
            .graph_card {
                height: 320px;
                position: relative;
                display: flex;
                justify-content:space-between;
                align-items: flex-end;
                border-radius: 12px;
                padding:0px 30px 45px 90px;

                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    z-index: 0;
                    border-radius: 12px;
                }

                .bar {
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    max-width: 48px;
                    background-image: linear-gradient(rgba(239, 235, 231, 0), rgba(239, 235, 231, .3));
                    border-left: 4px solid #fff;
                    flex-direction: column;
                    align-items: center;
                    display: flex;
                    position: relative;
                    @media only screen and (max-width:$tab){
                        max-width: 35px;
                    }

                    &.a {
                        height: 50%;
                    }

                    &.b {
                        height: 70%;
                    }

                    &.c {
                        height: 60%;
                    }

                    &.d {
                        height: 30%;
                    }

                    &.e {
                        height: 20%;
                    }

                    &.f {
                        height: 60%;
                    }

                    &.g {
                        height: 80%;
                    }
                }
            }
            .count_wrap{
                margin-top:40px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                .data_wrap{
                    max-width:170px;
                    h3{
                        margin-bottom:20px;
                    }
                }
            }
        }

        .content_sec {
            p{
                margin:30px 0px 40px;
            }
        }
    }
}