@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";

.profile_help{
    padding: 40px;
    border: 0.5px solid $primary;
    background: $textContrast;
    height: 100%;
    border-radius:4px;

    @media only screen and (max-width:$tab){
        padding:20px;
    }
    @media only screen and (max-width:$mobile){
        padding:15px;
    }
    .title {
        p {
            margin-top: 8px;
        }

        h5 {
            margin: 0px;
        }
    }

    textarea{
        box-shadow: none;
        border-style: none;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid $borderSubtle;
        background: $bgLight;
        @include font('Inter-Regular', 14px, 20px, 400, $textPrimary);
        margin:40px 0px 0px;
    }
    button{
        margin-top:24px;
    }
    p{
        margin:0px;
    }
}