@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";

section.shop_landing {
    border-bottom:1px solid #fff;
    padding-top: 230px;

    @media only screen and (max-width:$tab) {
        padding-top: 180px;
    }

    @media only screen and (max-width:$mobile) {
        padding-top: 160px;
    }

    .content_wrap {
        position: relative;
     

        .title {
            max-width: 640px;
            margin-left: auto;
            margin-right: auto;

            h1 {
                text-align: center;
            }

            p {
                text-align: center;
                margin-top: 30px;
            }

        }
    }
}