@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";

.email_notification {
    padding: 40px;
    border: 0.5px solid $primary;
    background: $textContrast;
    height: 100%;
    @media only screen and (max-width:$tab){
        padding:20px;
    }
    @media only screen and (max-width:$mobile){
        padding:15px;
    }

    .title {
        p {
            margin-top: 8px;
        }

        h5 {
            margin: 0px;
        }
    }

    .check_wrap {
      
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 13px;
            gap: 7px;

            button.checkbtn {
                height: 20px;
                width: 20px;
                border-radius: 4px;
                border: 1px solid $borderSubtle;
                background: $bgLight;
                display: block;
                transition: all 0.3s ease-in-out;
                margin:0px;

                &.active {
                    background-color: $primary;
                }

                img {
                    opacity: 0;
                    display: none;                    
                    height:100%;
                    width:100%;
                    border-radius: 4px;
                    transition: all 0.3s ease-in-out;

                    &.active {
                        display: block;
                        opacity: 1;
                    }
                }



            }

          
      

      
    }
    button{
        margin-top:32px;
    }
}