@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";


section.features {
    z-index:1;
    position:relative;
    .content_wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .card {
            padding: 20px;
            background-color: $cardBorder;
            border-radius: 12px;
            border: 1px solid $lightBorder;
            transition: all 0.3 ease-in-out;

            h5 {
                margin-bottom: 10px;
            }

            &:hover {
                border-color: rgba(255, 255, 255, .5);
                box-shadow: 0 0 20px rgba(255, 255, 255, .25);
            }

            &.active {
                border-color: rgba(255, 255, 255, .5);
                box-shadow: 0 0 20px rgba(255, 255, 255, .25);
                transition: all 0.3 ease-in-out;

                &:hover {
                    border: 1px solid $lightBorder;
                    box-shadow: none;
                }
            }

            &.a {
                width: calc(65% - 10px);

                @media only screen and (max-width:$laptop) {
                    width: 100%;
                }
                @media only screen and (max-width:600px){
                    width:100%;
                }
            }

            &.b {
                width: calc(35% - 10px);

                @media only screen and (max-width:$laptop) {
                    width: calc(50% - 10px);
                }
                @media only screen and (max-width:600px){
                    width:100%;
                }
            }

            &.c {
                width: calc(35% - 10px);

                @media only screen and (max-width:$laptop) {
                    width: calc(50% - 10px);
                }
                @media only screen and (max-width:600px){
                    width:100%;
                }
            }

            &.d {
                width: calc(65% - 10px);

                @media only screen and (max-width:$laptop) {
                    width: 100%;
                }

                @media only screen and (max-width:600px){
                    width:100%;
                }
            }
        }
    }
}