@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";


section.resume_builder_banner {
    padding-top: 48px;
    padding-bottom: 48px;
    background: $bgGradient;
    position: relative;
    overflow: hidden;

    img.pattern {
        position: absolute;
        width: 100%;
        z-index: 0;
        left:2%;
        top:-30%;
        transform: rotate(0deg);
        opacity: 0.15;
        transform-origin: left center;
        animation-name: bgRotate;
        animation-iteration-count: infinite;
        animation-duration:30s;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-delay: 0s;

        @media only screen and (max-width:$laptop){
        top:0px;
        }
    }


    .screen_container {
        .content {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;

            .icon_wrap {
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $white;
                position:relative;

                @media only screen and (max-width:$tab){
                    height:40px;
                    width:40px;
                }

                img.user {
                    width:80%;
                    position:relative;
                    z-index:2;
                    object-fit: contain;

                }
                img.bg{
                    position:absolute;
                    z-index:1;
                    left:0px;
                    top:0px;
                    width:100%;
                    height:100%;
                }
            }

            h3 {
                @include font('Inter-Regular', 40px, 44px, 400, $white);
            }
        }
    }
}