@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";

section.locations {
  min-height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, .35), rgba(0, 0, 0, .35)), linear-gradient(135deg, $primary 23%, $secondary);
  border-top: 1px $cardBorder;
  border-bottom: 1px $cardBorder;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  z-index: 1;

  @media only screen and (max-width:$tab) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .content_wrap {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    &.flip{
      direction: rtl;
    }

    @media only screen and (max-width:$tab) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width:550px) {
      grid-template-columns: 1fr;
    }
  }
}