@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";

section.feed_back {
    .content_wrap {    
        .feedback_list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 15px;
            margin-top: 100px;

            @media only screen and (max-width:1200px) {
                grid-template-columns: 1fr 1fr;
            }

            @media only screen and (max-width:$tab) {
                grid-template-columns: 1fr;
            }
        }
    }
}