@import "../../../../scss/common";
@import "../../../../scss/mixin";
@import "../../../../scss/typography";
@import "../../../../scss/variables";

.accordian_box {
    align-self: flex-start;
    button.question_btn {
        padding: 36px 0px;
        width: 100%;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        border-style: none;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        background-color: transparent;
        @include font('Inter-Regular', 20px, 24px, 400, $white);
        position: relative;
        transition: all 0.4s ease-in-out;
        padding-right:20px;
        text-align:left;
        @media only screen and (max-width:$mobile){
            padding: 30px 0px;
        }
        span {
            transition: all 0.3s ease-in-out;

            &.horizontal {
                height: 2px;
                width: 16px;
                background-color: $white;
                position: absolute;
                right: 0px;
                top: 50%;
                transform: translateY(-50%);
            }

            &.vertical {
                width: 2px;
                height: 16px;
                background-color: $white;
                position: absolute;
                right: 8px;
                top: 50%;
                transform: translate(50%, -50%);
            }

        }

        &.open {
            color: $primary;
            transition: all 0.4s ease-in-out;

            span {
                &.vertical {
                    transform: translate(50%, -50%) rotate(-90deg);
                    opacity: 0;
                    background-color: $primary;
                }

                &.horizontal {
                    background-color: $primary;
                }
            }
        }
    }

    .faq_answer {
        background-color: $card;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        overflow: hidden;
        padding: 0px 36px;
        transition: all 1s ease-in-out;
        transform-origin: top center;

        p {
            padding: 40px 0px;
            @include font('Inter-Regular', 17px, 25.5px, 400, $white);
        }
    }
}