.screen_wrap {
    width: 100%;
    overflow: hidden;
    margin:0px;
    padding:0px;
    .left_right_wrap {
        width: 200vw;
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        gap:0px;
        transition:all 1.5s ease-in-out;
    }
}


