@import "../../scss/common";
@import "../../scss/mixin";
@import "../../scss/typography";
@import "../../scss/variables";

section.saved_page {
    .screen_container {
        .explore_grid {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            position:relative;
            @media only screen and (max-width:$tab){
                flex-direction: column;
            }

            .filter_options_sec {
                width: 264px;
                padding:0px 24px 40px 0px;
                position:sticky;
                top:80px;
                padding-bottom:40px;

                @media only screen and (max-width:$tab){
                    width:100%;
                    position:relative;
                    top:0px;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                    gap:15px;
                    padding: 0px 0px 10px 0px;
                }

                .options_content{
                    margin: 40px 0px 0px;
                    @media only screen and (max-width:$tab){
                        margin: 20px 0px 0px;
                    }
                }

                h3.title {
                    @include font('SpaceGrotesk-Regular', 14px, 20px, 400, $textPrimary);
                    margin-bottom:13px;
                }

                .option_box {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 8px;
                    margin-bottom: 32px;
                    @media only screen and (max-width:$tab){
                        margin-bottom:0px;
                    }
                }
            }

            .explore_videos_wrap {
                padding-left: 45px;
                width: calc(100% - 264px);
                border-left: 1px solid $borderSubtle;
                padding-bottom:40px;
                @media only screen and (max-width:$tab){
                    padding-left:0px;
                    width:100%;
                    border-style: none;
                }

                .explore_video_grid {
                    margin-top: 32px;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                    gap: 16px;

                }
            }

            .checkbox_card {
                .check_field {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 13px;
                    gap: 7px;

                    button.checkbtn {
                        height: 20px;
                        width: 20px;
                        border-radius: 4px;
                        border: 1px solid $borderSubtle;
                        background: $bgLight;
                        display: block;
                        transition: all 0.3s ease-in-out;

                        &.active {
                            background-color: $primary;
                        }

                        img {
                            opacity: 0;
                            display: none;
                            transition: all 0.3s ease-in-out;
                            height:100%;
                            width:100%;
                            border-radius: 4px;;

                            &.active {
                                display: block;
                                opacity: 1;
                            }
                        }



                    }

                    label {
                        @include font('Inter-Regular', 12px, 16px, 400, $textSecondary);
                        text-transform: capitalize;
                        width: calc(100% - 40px);

                        span {
                            height: 3px;
                            width: 3px;
                            display: inline-block;
                            border-radius: 50%;
                            background-color: $textSecondary;
                            margin: 4px;
                        }
                    }
                }
            }
        }
    }
}