@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";

section.explore_detail {
    padding-top: 80px;
    padding-bottom: 80px;
    background: $bgGradient;
    position: relative;
    overflow: hidden;

    img.pattern {
        position: absolute;
        width: 100%;
        z-index: 0;
        left: 2%;
        top: -30%;
        transform: rotate(0deg);
        opacity: 0.15;
        transform-origin: left center;
        animation-name: bgRotate;
        animation-iteration-count: infinite;
        animation-duration: 30s;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-delay: 0s;

        @media only screen and (max-width:$laptop) {
            top: 0px;
        }
    }

    @media only screen and (max-width:$tab) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .loader {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4 {
            color: $white;
            text-align: center;
        }
    }

    .screen_container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 48px;
        z-index: 2;

        @media only screen and (max-width:$laptop) {
            flex-direction: column;
        }

        .video_wrapper {
            position: relative;
            max-width: 460px;
            width: 100%;

            img {
                max-width: 100%;
                max-height:350px;
            }

            @media only screen and (max-width:$tab) {
                width: 100%;
            }

            button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                border-style: none;
                background: transparent;
            }
        }

        .info_wraper {
            width: calc(100% - 460px);
            position: relative;
            z-index: 99;

            @media only screen and (max-width:$laptop) {
                width: 100%;
            }

            .info_line {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                gap: 24px;

                @media only screen and (max-width:$laptop) {
                    gap: 20px;
                }

                @media only screen and (max-width:$tab) {
                    gap: 15px;
                }

                .info {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 8px;
                    svg{
                        color:$white;
                        font-size:23px;
                    }

                    @media only screen and (max-width:$tab) {
                        gap: 6px;

                        img {
                            width: 20px;
                        }
                    }
                }

                p {
                    @include font('Inter-Regular', 18px, 24px, 400, $textPrimary);
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    @media only screen and (max-width:$laptop) {
                        @include font('Inter-Regular', 16px, 20px, 400, $textPrimary);
                    }

                    @media only screen and (max-width:$tab) {
                        @include font('Inter-Regular', 14px, 18px, 400, $textPrimary);
                    }

                    span {
                        height: 4px;
                        width: 4px;
                        border-radius: 50%;
                        display: inline-block;
                        background-color: $textPrimary;
                        margin: 5px;
                    }
                }
            }

            h1 {
                @include font('SpaceGrotesk-Regular', 32px, 36px, 400, $textPrimary);
                margin: 16px 0px 10px;

                @media only screen and (max-width:$tab) {
                    @include font('SpaceGrotesk-Regular', 26px, 30px, 400, $textPrimary);
                    margin: 15px 0px 10px;
                }
            }

            .btn_line {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 8px;
                margin: 0px 0px 10px;

                button.white_btn {
                    background-color: rgba($white, 0.1);
                    color: $white;
                    border: 1px solid $white;
                }
            }

            button {
                margin-top: 20px;
            }
        }
    }
}

@keyframes bgRotate {
    0% {
        transform: rotateZ(-10deg);
    }

    50% {
        transform: rotateZ(-10deg);
    }
}