@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";

section.blogdetail_landing{
    padding-top:180px;
    .content_wrap{
       .text_content{
        max-width:650px;
        width:100%;
        h1{
            margin:30px 0px 20px;
        }
       }
    }
}

