@import "../../../../scss/common";
@import "../../../../scss/mixin";
@import "../../../../scss/typography";
@import "../../../../scss/variables";


.course_card {
    border-radius: 8px;    
    border-radius: 12px;
    position: relative;
    border: 1px solid $lightBorder_1;
    z-index: 2;
    width:380px;    
    overflow: auto;
    height:800px;
    position:relative;
    background:$dark;
    @media only screen and (max-width:$mobile){
        width:100%;
    }
    &::-webkit-scrollbar {
        display: none;
      }
    &:hover{
        box-shadow: 0 0 20px rgba(245, 245, 245, 0.25);
    }

    .sticky_content {
        width: 100%;
        position: sticky;
        top:0px;
        left: 0px;
        padding:20px;
        background-color:$dark;
        border-radius: 12px 12px 0px 0px;
        border-bottom:1px solid rgba($lightBorder_1, 0.2);

        .img_wrap {
            padding: 25px;
            width: 100%;
            border-radius: 4px;
            background: $textContrast;  
            max-height:200px;
            img{
                max-width:100%;
                max-height:160px;
            }       
        }
        .name_line{
            display:flex;
            justify-content: flex-start;
            align-items: center;
            gap:8px;
            margin:20px 0px 0px;
            p.t-g-18{
                color:$white;
                letter-spacing: 0.5px;
                text-align: left!important;
                margin:0px;
            }
            .box{
                height:18px;
                width:18px;
                background-color: $white;
                &.RedTeam{
                    background-color:$orange
                }
                &.BlueTeam{
                    background-color: $secondary;
                }
            }
        }
        .counts {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            margin:15px 0px;

            .info {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 4px;

                img {
                    max-width: 20px;
                    max-height: 20px;
                }

                p {
                    color: $textPrimary;
                    margin:0px;
                }
            }
        }
        button.primarybtn{
            width:100%;
            margin-top:15px;
        }

      
    }

    .courses_list{
        padding:15px 20px 20px;
        p.t-g-18{
            color:$white;
            letter-spacing: 0.5px;
            margin-top:10px;
            margin-bottom:15px;
        }
        p{
            text-align: left!important;
        }
        ol{
            margin-top:15px;
            padding-left:15px;
            li{
                @include font('Inter-Regular', 16px, 20px, 400, $textSecondary);
                margin-bottom:5px;
            }
        }
        button{
            margin-top:15px;
            width:100%;
            position:relative;
            z-index:2;
            &.primarybtn{
                padding:10 15px;
            }           
        }
    }

    .bottom_shad{
        position:sticky;
        height:0px;
        width:100%;
        bottom:0px;
        left:0px;
        &::after{
            position:absolute;
            content:"";
            bottom:0px;
            left:0px;
            height:100px;
            width:100%;
            background:linear-gradient( to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
            z-index: 1;
        }
    }

   
}