@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";


.home_saved_list {
    margin-top: 80px;
  
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            background-color: transparent;
            border-style: none;
            @include font('Inter-Regular', 14px, 20px, 400, $textSecondary);
            text-decoration: underline;
            text-transform: capitalize;
        }
    }

    .saved_card_wrap {
        padding: 16px;
        border-radius: 12px;
        margin-top: 24px;
        transition:all 0.3s ease-in-out;
        position:relative;
        &::after {
            position: absolute;
            content: "";
            top: 1px;
            left: 1px;
            height: calc(100% - 2px);
            width: calc(100% - 2px);
            border-radius: 12px;
            overflow: hidden;
            background-color: $dark;
            z-index: 1;
        }

        &::before {
            position: absolute;
            content: "";
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            border-radius: 12px;
            background:$borderGradient;;
            padding: 1px;
            backdrop-filter: blur(28px);
            transition: all 0.3s ease-in-out;
            width: 100%;
            z-index: 0;
        }

        button.saved_btn{
            border-style: none;
            position:absolute;
            top:15px;
            right:15px;
            z-index:999;
            border-style: none;
            background-color: transparent;
            img{
                width:18px;
            }
        }


        &:hover{
            &::before {
                background: linear-gradient(130deg, #ffffffa0, #ffffffa0);
            }
        }

        .title_line_wraper {
            position: relative;
            z-index:99;
            pointer-events: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 12px;

           
        }

        .bottom_line {
            position: relative;
            z-index: 3;
            pointer-events: none;
            margin-top: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .info {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 8px;
                img{
                    width:16px;
                }
            }

        }

        p {
            position: relative;
            z-index: 3;
            pointer-events: none;
            @include font('Inter-Regular', 14px, 20px, 400, $textSecondary);

            &.title_text {
                @include font('SpaceGrotesk-Regular', 14px, 20px, 400, $textPrimary);

                span {
                    text-decoration: underline;
                    margin-left: 4px;
                    @include font('Inter-Regular', 14px, 20px, 400, $textPrimary);
                }
            }

        }
    }
}