@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";

section.welcome_strip {
    background: $bgGradient;
    position: relative;
    overflow: hidden;

    .screen_container {
        padding-top: 88px;
        padding-bottom: 88px;

        h1 {
            border-right: 1px solid $white;
            @include font('SpaceGrotesk-Regular', 40px, 44px, 400, $white);
            animation: blink-caret 0.75s step-end infinite;
            display: inline-block;
            padding-right: 5px;
        }

        p {
            margin-top: 12px;
            max-width: 370px;
            width: 100%;
            color: $textPrimary;
        }
    }

    img.pattern {
        position: absolute;
        width: 100%;
        z-index: 0;

        left:2%;
        top:-30%;
        transform: rotate(0deg);
        opacity: 0.15;
        transform-origin: left center;
        animation-name: bgRotate;
        animation-iteration-count: infinite;
        animation-duration:30s;
        animation-direction: alternate;
        animation-timing-function:linear;
        animation-delay: 0s;

        @media only screen and (max-width:$laptop){
        top:0px;
        }
    }

}

@keyframes blink-caret {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: #fff;
    }
}

@keyframes bgRotate {
    0% {
        transform: rotateZ(-10deg);
    }

    50% {
        transform: rotateZ(-10deg);
    }
}