@import "../../../../scss/variables";
@import "../../../../scss/typography";

.notification_card {
    width: 480px;
    padding: 24px;
    border-radius: 8px;
    position: absolute;
    top: 90px;
    right: 0px;
    transition: all 0.5s ease-in-out;
    &::after {
        position: absolute;
        content: "";
        top: 1px;
        left: 1px;
        height: calc(100% - 2px);
        width: calc(100% - 2px);
        border-radius: 12px;
        overflow: hidden;
        background-color: $dark;
        z-index: 1;
    }

    &::before {
        position: absolute;
        content: "";
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        border-radius: 12px;
        background:$borderGradient;;
        padding: 1px;
        backdrop-filter: blur(28px);
        transition: all 0.3s ease-in-out;
        width: 100%;
        z-index: 0;
    }
    &.close {
        opacity: 01;
        display: none;
    }
    &.open {
        opacity: 1;
        display: block;
    }
   
    @media only screen and (max-width:$tab) {
        padding: 15px;
    }

    @media only screen and (max-width:500px) {
        width: 100%;
    }

    h1 {
        @include font('SpaceGrotesk-Regular', 20px, 34px, 400, $textPrimary);
        margin-bottom: 32px;
        position: relative;
        z-index: 3;
        pointer-events: none;
    }

    .notification_data {
        margin-top: 32px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
        position: relative;
        z-index: 3;
        pointer-events: none;

        .text_content {
            p {
                @include font('Inter-Regular', 14px, 20px, 400, $textSecondary);

                &.title {
                    color: $textPrimary;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 8px;
                    flex-wrap: wrap;
                }

                span {
                    @include font('SpaceGrotesk-Regular', 12px, 16px, 400, $textHint);
                }
            }

            button {
                margin-top: 16px;
            }
        }
    }

    &:hover {
        &::before {
            background: linear-gradient(130deg, #ffffffa0, #ffffffa0);
        }
    }
}