@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";

section.feed_back {
    z-index: 1;
    position: relative;

    .content_wrap {
        .error_sec{
            padding:100px;
            border:1px solid $lightBorder_1;
            border-radius: 8px;;
            p{
                text-align: center;
                color:$white;
                letter-spacing: 1px;
            }
        }
        .feedback_list {

            margin-top: 20px;

            .testimonial_info {
                padding: 10px;
            }
        }
    }
}