@import "../../scss/common";
@import "../../scss/mixin";
@import "../../scss/typography";
@import "../../scss/variables";


section.login_form {
    padding-top: 80px;
    padding-bottom: 60px;
    background:url("../../assets/images/bgpattern.svg") no-repeat;
    background-size:contain;
    background-position: center center;
    height:calc(100vh - 100px);
    min-height:600px;
   display: flex;
   justify-content: center;
   align-items: center;
    .auth_container {
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);

        form {
            width: 380px;

            .title {
                margin-bottom: 50px;

                h1 {
                    text-align: center;
                    margin-top:0px;
                }

                .suggetion {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;
                    margin-top: 10px;

                    button {
                        border-style: none;
                        background-color: transparent;
                        p {
                            color: $primary;
                            text-decoration: 1px solid underline;
                            text-underline-offset: 4px;
                        }

                    }
                }

            }

        
            .btns {
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin-top:20px;              

                button {
                    width: 100%;
                }
            }
            button.forgot_password{
                border-style: none;
                background-color: transparent;
                margin:20px 0px 0px;
                color:$primary;
                
            }
        }
    }
}