@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";


.home_bottom_live{
    margin-top:50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
    @media only screen and (max-width:$laptop){
        grid-template-columns: 1fr 1fr;
    }
    .live_card{
       
        .img_wrap{
            border-radius: 4px;
            overflow: hidden;
            img{
            width:100%;
            height:100%;
            }
        }
        h5{
            margin-top:5px;
        }
    }
}