@import "../../../../scss/common";
@import "../../../../scss/mixin";
@import "../../../../scss/typography";
@import "../../../../scss/variables";

.benefit_suite_right {
    position: relative;
    width:100vw;

    .content_wrap {
        display: grid;
        grid-template-columns:1fr 0.8fr;
        gap: 100px;

        @media only screen and (max-width:$laptop){
            display: flex;
            flex-direction: column-reverse;
            gap:0px;
        }

        .text_content {
            padding: 80px 0px 80px 0px;
            transition:all 0.8s ease-in-out;

            @media only screen and (max-width:$laptop){
                padding: 0px 0px 0px 0px;
            }

            p {
                margin: 30px 0px 40px;
            }
            &.goright{
                transform:translateX(400px);
                opacity:0;
            }
            &.original{
                animation:slideFromRight 1s linear ;
                animation-delay: 0.5s;
            }
        }

        .box_card_side {
            .box_card {
                position: absolute;
                top: 100px;
                left: 0px;
                height: 700px;
                width: 50%;
                @media only screen and (max-width:$laptop){
                    position:relative;
                    width:100%;
                    top:50px;
                }
                .overlay {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                }

                img.bg {
                    object-fit: cover;
                    min-height: 100%;
                    min-width: 100%;
                    max-width:100%;
                    max-height:100%;  
                }

                .btn_block {
                    position: absolute;
                    right: 50px;
                    bottom: 50px;
                    z-index: 5;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 20px;
                    
                    @media only screen and (max-width:$laptop){
                        right:50px;
                        bottom:calc(100% - 80px);
                    }
                    button {
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        border: 1px solid rgba(255, 255, 255, 0.1);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: transparent;
                        background-color: rgba(255, 255, 255, 0.1);
                        transition: all 0.5s ease-in-out;

                        &:hover {
                            transform: scale(0.9);
                            background-color: rgba(255, 255, 255, 0.2);
                        }

                        img {
                            width: 12px !important;
                            transform: rotate(180deg);
                        }
                    }
                }

            }
        }
    }
}

@keyframes slideFromRight {
    0% {
      transform: translateX(500px);
      opacity: 0;
    }
   
    100% {
      transform: translateX(0px);
      opacity:1;
    }
  }