@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";


section.home1landing {
    padding-top: 220px;
    position: relative;
    overflow-x: hidden;

    @media only screen and (max-width:$tab) {
        padding-top: 180px;
    }

    @media only screen and (max-width:$mobile) {
        padding-top: 160px;
    }


    .purple_blur {
        height: 100px;
        width: 400px;
        background-color: $primary;
        border-radius: 30%;
        filter: blur(180px);
        position: absolute;
        top: 100px;
        left: 200px;
    }

    .content_wrap {
        h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        p {
            text-align: center;
            margin: 0px auto 40px;
            width: 80%;

            @media only screen and (max-width:$mobile) {
                width: 100%;
                margin: 0px auto 30px;
            }
        }

        button {
            margin: 0px auto 0px;
        }

        .dahsboard {
            margin-top: 130px;
            width: 100%;
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            outline-offset: 0px;
            border: 40px solid rgba(255, 255, 255, .05);
            border-radius: 12px;
            outline: 1px solid rgba(255, 255, 255, .1);
            position: relative;
            z-index: 1;

            @media only screen and (max-width:$tab) {
                margin-top: 80px;
            }

            @media only screen and (max-width:$mobile) {
                margin-top: 60px;
            }

            img {
                width: 100%;
                position:relative;
                z-index:2;
            }

            .primary_glass {
                height: 300px;
                width: 300px;
                background-color: $primary;
                border-radius: 50%;
                filter: blur(180px);
                position: absolute;
                z-index:0;
                &.left {
                    top: -30%;
                    left: -25%;
                    z-index: 0;
                }

                &.right {
                    top: -10%;
                    right: -25%;
                    z-index: 0;
                }
            }

            .secondary_glass {
                height: 300px;
                width: 300px;
                background-color: $secondary;
                border-radius: 50%;
                filter: blur(180px);
                position: absolute;
                z-index:0;

                &.right {
                    top: 30%;
                    right: -25%;
                    z-index: 0;
                }
            }
        }
    }
}