@import "../../../scss/typography";
@import "../../../scss/variables";

button.text_btn {
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-style:none;
    background-color:transparent;
    @include font('Inter-Regular', 14px, 16px, 400, $white);
    letter-spacing: 1px;
    transition:all 0.3s ease-in-out;
    svg{
        font-size:16px;
    }
    &:hover{
        color:$primary;
    }
}