@import "../../scss/common";
@import "../../scss/mixin";
@import "../../scss/typography";
@import "../../scss/variables";

section.resume_builder {
    .screen_container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
        margin-top: 40px;
        padding-bottom:40px;

      

        .tabs_view {
            width: calc(100% - 280px);
        }

    }
}