@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";

section.contact_landing {
    position: relative;

    .content_wrap {
        padding-top: 230px;
        padding-bottom: 130px;
        display: grid;
        grid-template-columns: 1fr 0.4fr;

        @media only screen and (max-width:$laptop) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @media only screen and (max-width:$tab) {
            padding-top: 180px;
            padding-bottom: 80px;
        }

        @media only screen and (max-width:$mobile) {
            padding-top: 160px;
            padding-bottom: 60px;
        }

        h1 {
            position: relative;
            z-index: 2;

            @media only screen and (max-width:$laptop) {
                text-align: center;
            }
        }

        .trial_wrap {
            position: relative;
            z-index: 2;

            @media only screen and (max-width:$laptop) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-top: 40px;
            }

            @media only screen and (max-width:$tab) {
                flex-direction: column;
                gap: 20px;
                align-items: center;
            }

            p {
                text-align: right;

                @media only screen and (max-width:$laptop) {
                    text-align: left;
                }

                @media only screen and (max-width:$tab) {
                    text-align: center;
                }
            }

            .btn_line {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-top: 20px;

                @media only screen and (max-width:$laptop) {
                    margin-top: 0px;
                }

                button {
                    &.round {
                        width: 47px;
                        height: 47px;
                        border: 1px solid $lightBorder_1;
                        display: flex;
                        border-radius: 50%;
                        justify-content: center;
                        align-items: center;
                        background-color: transparent;
                        transform: rotate(45deg);
                        position:relative;
                        span{
                            height:20px;
                            width:20px;
                            display: block;
                            position:relative;
                            overflow: hidden;
                            img{
                                position:absolute;
                                transition: all 0.3s ease-in-out;
                                &.a{
                                    top:50%;
                                    transform: translate(-100%, -50%);
                                }
                                &.b{
                                    top:50%;
                                    transform: translate(50%, -50%);
                                }
                            }
                        }
                        &:hover{
                            span{
                                img{
                                    &.a{
                                        top:50%;
                                        transform: translate(50%, -50%);
                                    }
                                    &.b{
                                        top:50%;
                                        transform: translate(200%, -50%);
                                    }
                                }
                            }
                        }
                    }

                    &.normal {
                        height: auto;
                        max-height: 47px;
                        min-height: 47px;
                        grid-column-gap: 5px;
                        text-align: center;
                        letter-spacing: .2em;
                        text-transform: uppercase;
                        background-color: rgba(0, 0, 0, 0);
                        border: 1px solid rgba(255, 255, 255, .5);
                        border-radius: 100px;
                        justify-content: center;
                        padding: 15px 20px;
                        transition: all .35s;
                        display: flex;
                        box-shadow: 0 -1px 10px rgba(153, 0, 255, .15);
                        @include font('Syne-Regular', 12px, 16px, 500, $white);

                       
                    }
                }
            }
        }
    }

    .blue_blur {
        height: 250px;
        width: 250px;
        position: absolute;
        border-radius: 50%;
        background-color: $secondary;
        top: 150px;
        right: 350px;
        z-index: 0;
        filter: blur(180px);

        @media only screen and (max-width:$mobile) {
            height: 200px;
            width: 200px;
            right: 10px;
        }
    }

    .pink_blur {
        height: 250px;
        width: 250px;
        position: absolute;
        border-radius: 50%;
        background-color: $primary;
        filter: blur(150px);

        @media only screen and (max-width:$mobile) {
            height: 200px;
            width: 200px;
            right: 10px;
        }

        &.first {
            left: 200px;
            top: 100px;

            @media only screen and (max-width:$mobile) {
                left: 0px;
            }
        }

        &.second {
            left: 100px;
            top: 200px;

            @media only screen and (max-width:$mobile) {
                left: 10px;
            }
        }

        &.third {
            right: 0px;
            top: 200px;
        }

    }
}