@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";

section.contact_landing{
    .content_wrap{
        padding-top:230px;
        padding-bottom:130px;
       display: grid;
       grid-template-columns: 1fr 0.4fr; 


       .trial_wrap{
        p{
            text-align: right;
        }
       }
    }
}