@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";

section.contact_landing {
    position: relative;

    .content_wrap {
        padding-top: 230px;
        padding-bottom: 130px;
        display: grid;
        grid-template-columns: 1fr 0.4fr;
        &.flip{
            direction: rtl;
        }

        @media only screen and (max-width:$laptop) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @media only screen and (max-width:$tab) {
            padding-top: 180px;
            padding-bottom: 80px;
        }

        @media only screen and (max-width:$mobile) {
            padding-top: 160px;
            padding-bottom: 60px;
        }

        h1 {
            position: relative;
            z-index: 2;

            @media only screen and (max-width:$laptop) {
                text-align: center;
            }
        }

        .trial_wrap {
            position: relative;
            z-index: 2;

            @media only screen and (max-width:$laptop) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-top: 40px;
            }

            @media only screen and (max-width:$tab) {
                flex-direction: column;
                gap: 20px;
                align-items: center;
            }

            p {
                text-align: right;
                color:$textPrimary;
                @media only screen and (max-width:$laptop) {
                    text-align: left;
                }

                @media only screen and (max-width:$tab) {
                    text-align: center;
                }
            }

            .btn_line {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-top: 20px;

                @media only screen and (max-width:$laptop) {
                    margin-top: 0px;
                }
            }
        }
    }

    .blue_blur {
        height: 250px;
        width: 250px;
        position: absolute;
        border-radius: 50%;
        background-color: $primary;
        top: 150px;
        right: 350px;
        z-index: 0;
        -webkit-filter: blur(110px);
        filter: blur(110px);

        @media only screen and (max-width:$mobile) {
            height: 200px;
            width: 200px;
            right: 10px;
        }
    }

    .pink_blur {
        height: 250px;
        width: 250px;
        position: absolute;
        border-radius: 50%;
        background-color: $primary;
        -webkit-filter: blur(150px);
        filter: blur(150px);

        @media only screen and (max-width:$mobile) {
            height: 200px;
            width: 200px;
            right: 10px;
        }

        &.first {
            left: 200px;
            top: 100px;

            @media only screen and (max-width:$mobile) {
                left: 0px;
                top:10px;
                
            }
        }

        &.second {
            left: 100px;
            top: 200px;

            @media only screen and (max-width:$mobile) {
                left: 10px;
            }
        }

        &.third {
            right: 0px;
            top: 200px;
            
        }
    }
}