@import "../../scss/common";
@import "../../scss/mixin";
@import "../../scss/typography";
@import "../../scss/variables";


.shop_glass {
    height: 350px;
    width: 350px;
    background-color: $primary;
    border-radius: 50%;
    position: absolute;
    filter: blur(200px);
    z-index: 1;
    transition: all 0.6s ease-in-out;

    @media only screen and (max-width:$mobile) {
        height: 200px;
        width: 200px;
    }

    &.a {
        top: 0px;
        right: 0px;
        height: 400px;
        width: 400px;
        filter: blur(230px);

        @media only screen and (max-width:$tab) {
            height: 200px;
            width: 200px;
            filter: blur(100px);
        }
    }

    &.b {
        height: 150px;
        width: 150px;
        filter: blur(120px);
        left: 30%;
        top: 300px;

        @media only screen and (max-width:$mobile) {
            left: 0%;
        }

    }

    &.c {
        background-color: $secondary;
        top: 400px;
        left: 0px;
    }
}