@import "../../scss/common";
@import "../../scss/mixin";
@import "../../scss/typography";
@import "../../scss/variables";

.header_filler{
    height:80px;
}

section.profile_screens{
    position:relative;
    background-color:$dark;
    z-index:1;
    .screen_container{
        padding-top:40px;
        padding-bottom:40px;
        display:flex;
        justify-content: space-between;
        gap:40px;
        @media only screen and (max-width:900px){
            flex-direction: column;
            gap:30px;
        }
        .side_menu{
            position:sticky;
            top:100px;
            width:300px;
            background: $textContrast;
            min-height:400px;
            height:calc(100vh - 320px);
            border-radius: 4px;
            overflow: hidden;
            @media only screen and (max-width:900px){
                position:relative;
                top:0px;
                width:100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap:15px;
                min-height:115px;
               height:115px;
            }
            @media only screen and (max-width:660px){
                grid-template-columns: 1fr 1fr;
                gap:10px;
                min-height:170px;
                height:170px;
            }
            @media only screen and (max-width:$mobile){
                grid-template-columns:1fr;
                gap:10px;
                min-height:260px;
                height:290px;
            }
            button{
                padding:16px 16px 16px 24px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-style: none;
                background-color:transparent;
                gap:10px;
                @include font('SpaceGrotesk-Regular', 16px, 20px, 400, $textSecondary);
                transition:all 0.3s ease-in-out;
                width:100%;
                @media only screen and (max-width:900px){
                    height:50px;
                    padding:12px;
                }
                img{
                    width:24px;
                   filter:invert(33%) sepia(96%) saturate(931%) hue-rotate(178deg) brightness(96%) contrast(93%);
                   margin:0px;
                }
                &:hover, &.active{
                    color:$textPrimary;
                    background-color:$primary;
                    img{
                        filter: none;
                    }
                }
            }
        }
        .menu_screens{
            width:calc(100% - 340px);
            min-height:400px;
          
            
            @media only screen and (max-width:900px){
                width:100%;
            }
        }
    }
}