@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";

section.blog_pagination {
    .content_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media only screen and (max-width:$tab){
            grid-template-columns: 1fr;
        }

        .prev,
        .next {
            position: relative;

            p {
                @include font('Syne-Regular', 12px, 18px, 500, rgba($white, 0.5));
                letter-spacing: 2.4px;
                text-transform: uppercase;
                margin-bottom: 20px;
                transition: all 0.4s ease-in-out;
            }

            h5 {
                @include font('Syne-Medium', 18px, 25.2px, 500, $white);
                letter-spacing: 1px;
                ;
                transition: all 0.4s ease-in-out;
            }

            &:hover {
                p {
                    color: $white;
                }

                h5 {
                    color: rgba($white, 0.5);
                }
            }
        }

        .prev {
            padding: 20px 140px 20px 50px;

            @media only screen and (max-width:$laptop) {
                padding: 20px 60px 20px 50px;
            }
            @media only screen and (max-width:$tab){
                padding: 15px 15px 30px 40px;
            }

            p,
            h5 {
                text-align: left;
            }

            img {
                position: absolute;
                left: 10px;
                top: 30px;
                transform: rotate(180deg);
                transition: all 0.4s ease-in-out;
            }

            &:hover {
                img {
                    left: 0px;
                }
            }
        }

        .next {
            padding: 20px 50px 20px 140px;
            border-left: 1px solid $lightBorder_2;

            @media only screen and (max-width:$laptop) {
                padding: 20px 50px 20px 60px;
            }
            @media only screen and (max-width:$tab){
                padding: 30px 40px 15px 15px;
                border-left: none;
                border-top: 1px solid $lightBorder_2;
            }
            p,
            h5 {
                text-align: right;
            }

           

            img {
                position: absolute;
                right: 10px;
                top: 30px;
                transition: all 0.4s ease-in-out;
            }

            &:hover {
                img {
                    right: 0px;
                }
            }
        }
    }
}