@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";


.genius_slider_sec {
    position: relative;
    z-index: 2;
    background-color: $dark;

    .mobile_title {
        display: none;
        padding: 40px 15px 30px;

        p {
            margin-top: 20px;
        }

        @media only screen and (max-width:$tab) {
            display: block;
        }
    }

    .bottom_btn_line {
        display: none;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
        margin-top: 30px;
        padding: 0px 20px 20px 15px;

        @media only screen and (max-width:$tab) {
            display: flex;
        }

        button {
            border-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: transparent;
            @include font('Inter-Regular', 13px, 15.6px, 500, $white);
            letter-spacing: 4px;
            transition: all 0.3s ease-in-out;

            &.prev {
                opacity: 0.5;

                img {
                    transform: rotate(180deg);
                }

                &:hover {
                    opacity: 1
                }
            }

            &.next {
                opacity: 1;

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }

    .genius_slider {
        position: relative;
        border-bottom: 1px solid $lightBorder_1;

        .title_card {
            padding: 40px;
            position: absolute;
            right: calc(25% - 2px);
            top: 0px;
            z-index: 2;
            width: calc((100vw / 4) - 1px);
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $dark;
            border: 1px solid $lightBorder_1;

            @media only screen and (max-width:1500px) {
                right: 0px;
                width: calc((100vw / 3) - 1px);
            }

            @media only screen and (max-width:1200px) {
                right: 0px;
                width: calc((100vw / 2) - 1px);
            }

            @media only screen and (max-width:$tab) {
                display: none;
            }

            .text {
                p {
                    margin-top: 30px;
                }
            }

            .btn_line {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 30px;

                button {
                    border-style: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    background-color: transparent;
                    @include font('Inter-Regular', 13px, 15.6px, 500, $white);
                    letter-spacing: 4px;
                    transition: all 0.3s ease-in-out;

                    &.prev {
                        opacity: 0.5;

                        img {
                            -webkit-transform: rotate(180deg);
                            transform: rotate(180deg);
                        }

                        &:hover {
                            opacity: 1
                        }
                    }

                    &.next {
                        opacity: 1;

                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }

        .genius_card {
            padding: 40px;
            border: 1px solid $lightBorder_1;

            @media only screen and (max-width:$tab) {
                padding: 20px;
            }

            @media only screen and (max-width:$mobile) {
                padding: 15px;
            }

            .img_wrap {
                position: relative;
                overflow: hidden;
                border-radius: 12px;
                min-height: 507px;

                @media only screen and (max-width:$tab) {
                    min-height: 400px;
                }

                img {
                    position: relative;
                    z-index: 1;
                    max-height: 507px;
                    max-width: 100%;

                    @media only screen and (max-width:$tab) {
                        max-height: 400px;
                    }
                }

                .overlay {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(20, 20, 19, 0.2);
                    z-index: 1;

                }

                .info_overlay {
                    background-color: rgba(#000, 0.5);
                    -webkit-backdrop-filter: blur(25px);
                    backdrop-filter: blur(25px);
                    position: absolute;
                    bottom: -110%;
                    left: 0px;
                    height: 100%;
                    width: 100%;
                    padding: 15px;
                    z-index: 2;
                    transition: all 0.3s ease-in-out;
                    padding: 15px;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    p {
                        color: $white;
                        text-align: center;
                        margin-top: 50px;
                        @media only screen and (max-width:$tab){
                            margin-top:0px;
                        }
                    }

                    .social_line {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;

                        img {
                            max-width: 35px;
                            max-height: 35px;
                        }
                    }
                }

                &:hover {
                    .info_overlay {
                        bottom: 0%;
                    }
                }
            }

            h5 {
                margin: 20px 0px 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            h6 {
                letter-spacing: 4px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}