@import "../../scss/variables";

section.our_partners {
    position: relative;
    z-index: 2;
    padding-top: 60px;
    padding-bottom: 60px;

    .content_wrap {
        .logo_space {
            position: relative;
            border: 1px solid $cardBorder;
            border-radius: 12px;
            padding: 12px;

            .logo_card {

                height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                @media only screen and (max-width:$tab){
                 height:100px;
                }

                img {
                    max-width: 210px;
                    max-height:100px;
                    object-fit: contain;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0.7;
                    transition: all 0.3s ease-in-out;
                    @media only screen and (max-width:$tab){
                        max-height:80px;
                        max-width:150px;
                    }
                    @media only screen and (max-width:400px){
                        max-height:130px;
                        max-width:200px;
                    }
                    &:hover {
                        opacity: 1;
                    }
                }


            }
        }
    }
}