@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";


section.faq_landing {
    overflow-x: hidden!important;
    .content_wrap {
        padding-top: 200px;
        padding-bottom: 130px;
        position: relative;
        overflow-x: hidden!important;
        @media only screen and (max-width:$tab){
            padding-top: 150px;
            padding-bottom: 80px;
        }
    
        @media only screen and (max-width:$mobile){
            padding-top: 130px;
            padding-bottom: 60px;
        }

        h1 {
            max-width:650px;
            width: 100%;
            text-align: center;
            margin: 0px auto;
             
        }

        p {
            max-width:650px;
            width: 100%;
            text-align: center;
            margin: 0px auto;
            margin-top: 30px;
             

        }

        .border_line {
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, .2);
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            transition: all 0.4s ease-in-out;
        }
    }

    .pink_blur {
        height: 250px;
        width: 250px;
        background-color: $primary;
        position: absolute;
        top: -50px;
        right:0px;
        filter: blur(130px);
        transition: all 0.4s ease-in-out;     
      
    }

    .smallpink {
        height: 200px;
        width: 200px;
        background-color: $primary;
        position: absolute;
        top: 300px;
        left: 25%;
        filter: blur(130px);                
        transition:all 0.4s ease-in-out;
        @media only screen and (max-width:$mobile){
            left:20px;
        }
      
    }

    .blue_blur {
        height: 200px;
        width: 200px;
        background-color: $secondary;
        position: absolute;
        bottom: 100px;
        left: -50px;
        filter: blur(130px);
        transition: all 0.4s ease-in-out;
       
    }
}