@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";

.group_card{
    transition:all 0.3s ease-in-out;
    .postre_wrap{
        height:197px;
        border-radius: 4px;
        overflow: hidden;
        img{
            height:100%;
            width:100%;
            object-fit: cover;
        }        
    }
&:hover{
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
}
}