@import "../../scss/variables";


.hemberger_menu {
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    display: none;
    @media only screen and (max-width:$menubreak){
        display:block;
    }

    @media only screen and (max-width:$mobile){
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    .bar{
        width: 30px;
        height: 2px;
        background-color: $white;
        position: absolute;
        transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;

        &:nth-child(1){
            top: 0;
        }

        &:nth-child(2) {
            top: 8px;
        }
        
        &:nth-child(3) {
            top: 16px;
        }
    }

    &.open{
        .bar{
            &:nth-child(1){
                -webkit-transform: translateY(8px) rotate(-45deg);
                transform: translateY(8px) rotate(-45deg);
            }
    
            &:nth-child(2) {
                opacity: 0;
            }
            
            &:nth-child(3) {
                -webkit-transform: translateY(-8px) rotate(45deg);
                transform: translateY(-8px) rotate(45deg);
            }
        }
    }
}