@import "../../../../scss/variables";

.logo_space {
    border: 1px solid $cardBorder;
    border-radius: 12px;
    margin-top: 80px;
    padding: 12px;
    display: grid;
    grid-column-gap: 35px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;

    @media only screen and (max-width:$laptop) {
        grid-template-columns: 1fr 1fr 1fr;
        margin-top:60px;
        grid-column-gap:20px;
    }

    @media only screen and (max-width:$mobile) {
        grid-template-columns: 1fr 1fr;
        margin-top:60px;
    }
    

    .logo_wraper {
        opacity: 0.4;
        transition: all 0.3s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}