@import "../../scss/variables";

button.circle_arrowbtn{
height:47px;
width:47px;
border-radius: 50%;
background-color:transparent;
border:1px solid $lightBorder_1;
display: flex;
justify-content: center;
align-items: center;
.inner{
    height:20px;
    width:20px;
    position:relative;
    overflow: hidden;
    transform: rotate(45deg);
    img{
        position:absolute;
        top:50%;
        left:50%;
        transition:all 0.2s ease-in-out;
     
        &.a{
            transform: translate(-50%, -50%);
        }
        &.b{
            transform: translate(-200%, -50%);
        }
    }
}

&:hover{
    .inner{
        img{
            &.a{
                transform: translate(100%, -50%);
            }
            &.b{
                transform: translate(-50%, -50%);
            }
        }
    }
}
}