@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";

section.services {
    z-index:1;
    position:relative;
    .content_wrap {
        .grid_sec {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 100px;
            margin-top: 60px;

            @media only screen and (max-width:$laptop) {
                display: flex;
                flex-direction: column;
            }


            .img_wrap {
                width: 100%;
                margin-top: 150px;
                align-self: flex-start;
                position: sticky;
                top: 300px;

                @media only screen and (max-width:$laptop) {
                    position: relative;
                    margin-top: 0px;
                    top: 0px;
                }

                .wrapper {
                    width: 100%;
                    position: relative;
                    background-color: $dark;

                    img {
                        width: 100%;
                        z-index: 1;
                        position: relative;
                    }

                    .primary_blur {
                        width: 200px;
                        height: 200px;
                        filter: blur(180px);
                        background-color: $primary;
                        position: absolute;
                        top: 0%;
                        left: 0%;
                        z-index: 0;
                    }

                    .secondary_blur {
                        height: 200px;
                        width: 200px;
                        filter: blur(180px);
                        background-color: $primary;
                        position: absolute;
                        right: 0%;
                        bottom: 30%;
                        z-index: 0;
                        @media only screen and (max-width:$laptop){
                            display:none;
                        }
                    }
                }
            }

            .info_wrap {
                position: relative;

                .line {
                    position: absolute;
                    left: -60px;
                    top: 35px;
                    height: calc(100% - 100px);
                    width: 2px;
                    background-color: $cardBorder;

                }
            }


        }
    }
}