@import "../../../../scss/common";
@import "../../../../scss/mixin";
@import "../../../../scss/typography";
@import "../../../../scss/variables";

.plan_card {
    box-shadow: none;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: $cardBorder;
    border: 1px solid $cardBorder;
    border-radius: 12px;
    padding: 30px;
    transition: all .35s ease-in-out;
    width:calc(100% / 3 - 20px);

    @media only screen and (max-width:$laptop){
        width:calc(100% / 2 - 15px);
    }
    @media only screen and (max-width:$tab){
        width:100%;
    }

    .offer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        h6 {
            
            letter-spacing: 4px;
        }
        .offer_pill{
            background: $primaryGradient_5;
            padding: 4px 12px;
            border-radius: 6px;
            p{
                @include font('Syne-Regular', 17px, 17px, 400, $white);
            }
        }
    }

    h3 {
        padding: 15px 0px;
        border-top: 1px solid $cardBorder;
        border-bottom: 1px solid $cardBorder;
        margin-bottom: 15px;
        margin-top:5px;
    }

    button {
        width: 100%;
        margin-top: 40px;
    }

    &:hover {
        box-shadow: 0 0 20px rgba(245, 245, 245, 0.25);
        border: 1px solid $lightBorder_1;
    }

    &.active {
        box-shadow: 0 0 20px rgba(245, 245, 245, 0.25);
        border: 1px solid $lightBorder_1;
        @media only screen and (max-width:$laptop){
            width:100%;
            order:-1;
        }

        @media only screen and (max-width:$tab){
            order:0;
        }

        &:hover {
            box-shadow: none;
            border: 1px solid $cardBorder;

        }
    }
}