@import "../../scss/common";
@import "../../scss/mixin";
@import "../../scss/typography";
@import "../../scss/variables";


.tech_blur{
    height: 300px;
    width: 300px;
    background-color: $primary;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    transition: all 0.6s ease-in-out;
    @include glassMorphism;
   &.a{
    top:250px;
    left:30%;
    @media only screen and (max-width:$tab){
        display:none;
    }
   }
   &.b{
    top:50px;
    right:0px;   }
   &.c{
    right:150px;
    top:55%;
    @media only screen and (max-width:$tab){
        display:none;
    }
   }
   &.d{
    left:0px;
    bottom:0px;
   }

}

.techb_blur{
    height: 350px;
    width: 350px;
    background-color: $secondary;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    transition: all 0.6s ease-in-out;
    top:20%;
    left:0px;
    @include glassMorphism;
  @media only screen and (max-width:$laptop){
        display:none;
    }
}
