@import "../../scss/common";
@import "../../scss/mixin";
@import "../../scss/typography";
@import "../../scss/variables";

#side_accord {
    .icon_info {
        padding: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover,
        &.active {
            background-color: $lightBorder_3;
        }
    }
}

.loading_sec {
    height: 200px;
    display: grid;
    place-items: center;
}

section.expaned_closer_wrap {
    position: fixed;
    top: 125px;
    z-index: 999;
    background-color: transparent;

    @media only screen and (max-width:993px) {
        display: none;
    }



    button.side_opener {
        border-style: none;
        background-color: transparent;
        position: sticky;
        top: 0px;
        left: 0px;
        cursor: pointer;
        transform: translateX(-30px);

        img {
            transform: rotateY(180deg);
        }
    }
}

section.explore_cources {
    padding-bottom: 40px;

    .screen_container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 80px;
        position: relative;

        @media only screen and (max-width:$laptop) {
            flex-direction: column;
            gap: 0px;
        }

        .left_info {
            border-right: 1px solid $borderSubtle;
            width: 400px;
            position: sticky;
            top: 80px;
            transition: 0.3s ease-in-out;

            &.close {
                width: 0%;
                border-style: none;
                display: none;
            }


            @media only screen and (max-width:$laptop) {
                top: 0px;
                position: relative;
                width: 100%;
                border-style: none;
            }

            .top_title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 16px 20px 16px 4px;

                button {
                    @media only screen and (max-width:993px) {
                        display: none;
                    }
                }
            }

            .video_wrap {
                max-width: 270px;
                width: 100%;
                height: 164px;
                position: relative;
                margin-bottom: 16px;

                img {
                    min-height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                .progress_bar {
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 100%;
                    justify-content: flex-start;
                    align-items: center;

                    height: 4px;

                    .filler {
                        height: 100%;
                        background-color: $primary;
                        transition: all 0.4s ease-in-out;
                    }
                }

                p.percent {
                    position: absolute;
                    left: 8px;
                    bottom: 10px;
                    @include font('Inter-Regular', 12px, 16px, 400, $textPrimary);
                }

            }

            p.t-g-18 {
                color: $white;
            }

            .module_count {
                margin: 8px 0px 18px 0px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 8px;

                img {
                    margin: 0px;
                }

                p {
                    color: $textPrimary;
                }


            }


        }





        .course_detail {
            margin-top: 30px;
            width: calc(100% - 480px);

            &.expand {
                width: 100%;
            }

            @media only screen and (max-width:$laptop) {
                width: 100%;
            }

            .section_sec {
                margin-top: 30px;

                p {
                    margin-top: 10px;
                }
            }

            .description_sec {
                margin-top: 30px;

                p {
                    margin-top: 10px;
                }
            }

            .img_sec {
                margin-top: 50px;

                img {
                    max-width: 100%;
                }
            }

            .video_sec {
                margin-top: 50px;

                video {
                    max-width: 100%;
                }
            }

            .quize_sec {
                margin-top: 30px;

                h5 {
                    margin-bottom: 20px;
                }

                .option_wrap {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 15px;
                    margin-top: 10px;

                    button {
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        border-radius: 50%;
                        border: 1px solid $white;
                        display: grid;
                        place-items: center;
                        background-color: transparent;

                        span {
                            height: 10px;
                            width: 10px;
                            border-radius: 50%;
                            background-color: $white;
                            display: block;
                        }
                    }
                }

                button.primarybtn {
                    margin-top: 15px;
                }
            }

            .assignment_sec {
                margin-top: 50px;

                h5 {
                    margin-bottom: 20px;
                }
            }

            .pdf_sec {
                margin-top: 50px;

                h5 {
                    margin-bottom: 20px;
                }

                iframe {
                    height: 100vh;
                    width: 100%;
                }
            }


        }

        .upload_wrap {
            height: 150px;
            width: 100%;
            position: relative;
            background: $lightBorder_2;
            border-radius: 8px;
            border: 1px dashed $primary;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            gap: 10px;

            p {
                text-align: center;
            }

            input {
                opacity: 0;
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: 9;
                height: 100%;
                width: 100%;
                cursor: pointer;
            }

        }

        h6.title {
            @include font('SpaceGrotesk-Regular', 20px, 24px, 500, $white);
            margin-bottom: 20px;
            letter-spacing: 1px;

            &.m_t {
                margin-top: 60px;
            }
        }
    }
}

button.quiz_submit {
    margin-top: 40px;
}

.completed_wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
}

.subscribe_model {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-color: rgba($dark, 0.7);
    display: grid;
    place-items: center;

    .model_dialog {
        max-width: 600px;
        width:100%;
        background-color: $dark;
        border-radius: 20px;
        border: 1px solid $white;
        padding: 30px 30px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition:all 0.3s ease-in-out;
        animation-name: popup;
        animation-duration:0.5s;
        animation-iteration-count: 1;
@media only screen and (max-width:$mobile){
    padding:20px;
}
        .top_title {
            display: flex;
            justify-content: flex-end;
            width:100%; 

            button {
                border-style: none;
                background-color: transparent;

                svg {
                    color: $white;
                    font-size: 22px;
                }
            }
        }

        h5 {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 15px;
            color:$primary;
        }

        p {
            text-align: center;
            margin-bottom: 15px;
        }


    }
}

@keyframes popup {
    from{
        transform: translateY(-100px);
    }to{
        transform: translateY(0px);
    }
}