@import "../../scss/common";
@import "../../scss/mixin";
@import "../../scss/typography";
@import "../../scss/variables";


section.header {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: rgba(0, 0, 0, 0.65);
    height: 100px;
    z-index: 9999;

    @media only screen and (max-width:$laptop) {
        height: 80px;
    }

    .content_wrap {
        header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100px;

            @media only screen and (max-width:$laptop) {
                height: 80px;
            }

            .logo_wrap {
            
                a {
                    text-decoration: none;
                    img{
                        @media only screen and (max-width:$tab){
                            width:80px;
                        }
                    }
                }
            }

            nav {
                display: flex;
                justify-content: center;
                align-items: center;
                display: flex;
                justify-content: center;
                align-items: center;
                gap:25px;
                a{
                    @include font('Inter-Regular', 16px, 20px, 400, $white);
                    text-decoration: none;
                    position:relative;
                    transition:all 0.4s ease-in-out;

                    &.active, &:hover{
                        &::after{
                            position:absolute;
                            content:"";
                            height:3px;
                            width:15px;
                            border-radius:15px;
                            background-color:$white;
                            bottom:-7px;
                            left:50%;
                            transform:translateX(-50%)
                        }
                    }
                }
            }

            .btns {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 20px;

                button {
                    &.signin {
                        @include secondaryBtn;
                    }

                    &.signup {                        
                        @include primaryBtn;
                    }

                    &.cartbtn {
                        border-style: none;
                        background-color: transparent;
                        position:relative;
                        margin-right:20px;
                        .notification {
                            height: 20px;
                            width: 20px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: $primaryGradient_5;
                            position:absolute;
                            top:-15px;
                            right:-15px;
                            @include font('Syne-Regular', 11px, 11px, 400, $white);
                        }
                    }
                }
            }

            @media only screen and (max-width:$menubreak) {

                nav,
                .btns button.signin,
                .btns button.signup {
                    display: none;
                }
            }
        }
    }
}