@import "./scss/variables";
@import "./scss/mixin";
@import "./scss/typography";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none !important;
  -webkit-user-drag: none;
  scroll-behavior:auto!important;
}

::selection {
  color:$primary;
  background:$white;
}

/* --------------------------- Default css --------------------------------------------------- */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: #000;
  scroll-behavior: unset;
}

*::-moz-selection {
  color: var(--white);
  background: #000;
}

*::-webkit-selection {
  color: var(--white);
  background: #000;
}

*::-webkit-input-placeholder {
  color: #cccccc;
  opacity: 1;
}

*:-moz-placeholder {
  color: #cccccc;
  opacity: 1;
}

*::-moz-placeholder {
  color: #cccccc;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #cccccc;
  opacity: 1;
}

*::after,
*::before,
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body .clearfix,
body .clear {
  clear: both;
  line-height: 100%;
}

body .clearfix {
  height: auto;
}

body h1:last-child,
body h2:last-child,
body h3:last-child,
body h4:last-child,
body h5:last-child,
body h6:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
}

body p:empty {
  margin: 0;
  line-height: 0;
}

body p:last-child {
  margin-bottom: 0;
}

p strong {
  font-weight: 600;
}

.hidden {
  display: none !important;
}

iframe {
  display: block;
  width: 100%;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.common-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

picture {
  display: block;
}



body input:focus::placeholder,
body textarea:focus::placeholder {
  opacity: 0;
}

span.wpcf7-spinner {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

// Scroll Bar

/* width */
::-webkit-scrollbar {
  width:8px;
  height:8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($card, 0.7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:$card;
}

button.slick-arrow{
  display: none!important;
}

#side_accord{
  border-radius: 0px!important;
  .accordion-item{
    border-style: none;
    border-radius: none!important;
    border-radius: 0px!important;
    background-color:#000!important;
  }
  button.accordion-button{
      background-color:$dark!important;
      border-style: none;
      padding:0px;
      border-style: none!important;
      box-shadow: none!important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: none!important;
      border-bottom: 1px solid $borderSubtle!important;
      padding:16px 20px 16px 4px;
       @include font('Inter-Regular', 12px, 16px, 400, $textSecondary);
       border-radius: 0px!important;
      &::after{
        display: none!important;
      }
      img{
        margin:0px;
        transform:rotate(-180deg);
        transition:all 0.3s ease-in-out;
      }

      &.collapsed{
        img{
          transform:rotate(-0deg);
        }
      }
  }
  .accordion-body{
    background-color:$dark!important;
    padding:24px 10px 24px 0px!important;
    .icon_info{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap:8px;
      b
      img{
        margin:0px;
      }
      .green_circle{
        height:16px;
        width:16px;
        border-radius: 50%;
        background-color:$green;
        display: flex;
        justify-content:center;
        align-items: center;
      }
      p{
        &.small_text{
          color:$textPrimary;
        }
        &.t-i-12{
          color:$textHint;
        }
      }

      &.between{
        display: flex;
        justify-content: space-between;
        align-items: center;

        img{
          margin:0px;
        }
        .left{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap:8px;
        }
       
        p{
          &.small_text{
            color:$textPrimary;
          }
          &.t-i-12{
            color:$textHint;
          }
        }

      }

    }
  }
}

.Toastify .Toastify__toast-body{
  @include font('Inter-Regular', 16px, 20px, 400, $white);
  letter-spacing:0.5px;
  text-transform: capitalize;
}

.Toastify .Toastify__close-button svg{
  color:$white;
}