

*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  outline: none !important;
  user-select: none;
  -webkit-user-drag: none;
}


/* --------------------------- Default css --------------------------------------------------- */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body{
  background-color:#000;
}

*::-moz-selection {
  color: var(--white);
  background: #000;
}

*::-webkit-selection {
  color: var(--white);
  background: #000;
}

*::-webkit-input-placeholder {
  color: #cccccc;
  opacity: 1;
}

*:-moz-placeholder {
  color: #cccccc;
  opacity: 1;
}

*::-moz-placeholder {
  color: #cccccc;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #cccccc;
  opacity: 1;
}

// a,
// div a:hover,
// div a:active,
// div a:focus,
// button {
//   text-decoration: none;
//   -webkit-transition: all 0.2s ease 0s;
//   -moz-transition: all 0.2s ease 0s;
//   -ms-transition: all 0.2s ease 0s;
//   -o-transition: all 0.2s ease 0s;
//   transition: all 0.2s ease 0s;
// }

// a,
// span,
// div a:hover,
// div a:active,
// button {
//   text-decoration: none;
// }

*::after,
*::before,
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

// body a {
//   outline: none;
//   color: #555;
// }

body .clearfix,
body .clear {
  clear: both;
  line-height: 100%;
}

body .clearfix {
  height: auto;
}



.clr:after,
ul:after,
.clearfix:after,
li:after {
  clear: both;
  display: block;
  content: "";
}

div input,
div select,
div textarea,
div button {
  font-family: 'Lexend Deca';
  font-weight: 400;
}


body h1:last-child,
body h2:last-child,
body h3:last-child,
body h4:last-child,
body h5:last-child,
body h6:last-child {
  margin-bottom: 0;
}

div select {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div select option {
  font-size: 13px;
  color: #393939;
  padding: 2px 5px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
body p:empty {
  margin: 0;
  line-height: 0;
}

body p:last-child {
  margin-bottom: 0;
}

p strong {
  font-weight: 600;
}

.hidden {
  display: none !important;
}

iframe {
  display: block;
  width: 100%;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Lexend Deca';
  font-weight: 400;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.common-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
picture {
  display: block;
}



body input:focus::placeholder,
body textarea:focus::placeholder {
  opacity: 0;
}

span.wpcf7-spinner {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}
