@import "./mixin";
@import "./variables";
@import "./typography";

#tsparticles{
  position:relative;
  z-index: 0!important;
  canvas{
    border:0px solid #fff;
  }
}
section {
  width: 100%;
  background-color: $dark;
  padding-left: 20px;
  padding-right: 20px;
  scroll-behavior: unset;

  @media only screen and (max-width:$mobile) {
    padding-left: 15px;
    padding-right: 15px;
  }

  .content_wrap {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .auth_container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .screen_container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 120px;
    padding-right: 120px;

    @media only screen and (max-width:1300px) {
      padding-left: 25px;
      padding-right: 25px;
    }

    @media only screen and (max-width:$tab) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}




.p_top {
  padding-top: 130px;

  @media only screen and (max-width:$tab) {
    padding-top: 80px;
  }

  @media only screen and (max-width:$mobile) {
    padding-top: 60px;
  }
}

.p_bottom {
  padding-bottom: 130px;

  @media only screen and (max-width:$tab) {
    padding-bottom: 80px;
  }

  @media only screen and (max-width:$mobile) {
    padding-bottom: 60px;
  }
}

.m_top {
  margin-top: 130px;

  @media only screen and (max-width:$tab) {
    margin-top: 80px;
  }

  @media only screen and (max-width:$mobile) {
    margin-top: 60px;
  }
}

.m_bottom {
  margin-bottom: 130px;

  @media only screen and (max-width:$tab) {
    margin-bottom: 80px;
  }

  @media only screen and (max-width:$mobile) {
    margin-bottom: 60px;
  }
}

button.primarybtn {
  @include primaryBtn;
}

button.secondarybtn {
  @include secondaryBtn;
}




input,
textarea,
.custom_dropdown {
  width: 100%;
  height: auto;
  min-height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid $primary;
  border-radius: 12px;
  margin-bottom: 0;
  padding: 16px 18px;
  font-size: 17px;
  box-shadow: 0 0 20px rgba($primary, 0.6);
  @include font('Inter-Regular', 17px, 17px, 400, $white);
  transition: all .5s cubic-bezier(.25, .46, .45, .94);

  &::placeholder {
    color: rgba($white, 0.5);
    text-transform: capitalize;
  }

  &:focus {
    box-shadow: none;
    padding: 16px 22px;
  }
}


.auth_field, .form_field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  &.mt {
    margin-top: 24px;
  }

  &.mt_20 {
    margin-top: 20px;
  }

  &.mb {
    margin-bottom: 24px;
  }

  label {
    @include font('Inter-Regular', 14px, 20px, 400, $white);
    text-transform: capitalize;
    margin-bottom: 8px;
    letter-spacing: 1px;
  }

  .input_wrap {
    position: relative;

    input, textarea, button.dd{
      padding: 16px 50px 16px 16px;
      border-radius: 8px;
      border: 1px solid #2E2E2E;
      background: #0F0F0F;
      box-shadow: none;
      width: 100%;
      @include font('Inter-Regular', 14px, 20px, 400, $white);
      -webkit-backdrop-filter: blur(28px);
      backdrop-filter: blur(28px);
      background: linear-gradient(113deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.00) 110.84%);
      &::placeholder {
        @include font('Inter-Regular', 14px, 20px, 400, $textHint);
      }
    }

    img.field_icon {
      position: absolute;
      top: 50%;
      right: 16px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      opacity: 0.4;
      max-width: 20px;

    
    }

    button {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 16px;
      height: 20px;
      border-style: none;
      background-color: transparent;

      img {
        opacity: 0.4;
        max-width: 20px;
      }
    }
  }
}

button.authbtn {
  padding: 8px 24px;
  @include font('SpaceGrotesk-Regular', 14px, 20px, 500, $white);
  border-radius: 8px;
  height: 40px;
  text-align: center;
  transition: all 0.3s ease-in-out;

  &.auth_primary {
    background-color: $primary;
    border-style: none;
  }

  &.auth_secondary {
    border: 1px solid $bgLight;
    background-color: transparent;
  }

  &:hover {
    -webkit-transform: scale3d(0.98, 0.98, 1);
    transform: scale3d(0.98, 0.98, 1);
    transform-style: preserve-3d;
    opacity: 0.7;
  }
}

button.white_btn {
  padding: 2px 6px;
  border-radius: 4px;
  border: 1px solid $borderLight;
  background: $bgLight;
  @include font('Inter-Regular', 12px, 16px, 400, $textSecondary);
  transition: all 0.3s ease-in-out;

  &:hover,
  &.active {
    border: 1px solid $textHint;
    @include font('Inter-Regular', 12px, 16px, 400, $textPrimary);
  }
}

button.grotesk_primary {
  padding: 8px 24px;
  border-style: none;
  background-color: $primary;
  border-radius: 8px;
  @include font('SpaceGrotesk-Regular', 14px, 20px, 500, $white);
}

button.grotesk_secondary {
  padding: 8px 24px;
  border-style: none;
  background-color: $primary;
  background: rgba(232, 252, 253, 0.05);
  border-radius: 8px;
  text-transform: capitalize;
  @include font('SpaceGrotesk-Regular', 14px, 20px, 400, $textPrimary);
}

button.iconbtn {
  border-style: none;
  background-color: transparent;
}


.bg_card_overlay{
  position:absolute;
  top:1px;
  left:1px;
  height:calc(100% - 2px);
  width:calc(100% - 2px);
  background: linear-gradient(113deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.00) 110.84%);
  z-index:2;
  transition:all 0.3s ease-in-out;
  border-radius: 12px;
  -webkit-backdrop-filter: blur(28px);
  backdrop-filter: blur(28px);
  &:hover{    
    background: linear-gradient(253deg, rgba(255, 255, 255, 0.08) -7.53%, rgba(255, 255, 255, 0.00) 97.04%);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06);
    -webkit-backdrop-filter: blur(1.75px);
    backdrop-filter: blur(1.75px);
  }

}

