@import "./mixin";
@import "./variables";
@import "./typography";


section {
    width: 100%;
    background-color:$dark;
    .content_wrap{
      width:100%;
      max-width:1200px;
      margin-left:auto;
      margin-right:auto;    
      padding-left:15px;
      padding-right:15px;
    }
  }

  button.primarybtn{
    @include primaryBtn;
  }

  button.secondarybtn{
    @include secondaryBtn;
  }