

@mixin font($fontFamily, $size, $lineHeight, $weight, $color){
    font-family:$fontFamily;
    font-size:$size;
    line-height:$lineHeight;
    font-weight:$weight;
    color:$color;    
};

@mixin iconBtn{
    border-style: none;
    background-color: transparent;    
}

@mixin primaryBtn{
    border-style: none;
    height: auto;
    min-height: 47px;
    text-align: center;
    letter-spacing: .2em;
    text-transform: uppercase;    
    background:$primaryGradient;
    border-radius: 12px;
    justify-content: center;
    padding: 15px 20px;
     @include font('SpaceGrotesk-Regular', 12px, 20px, 500, $white);
    transition: all .35s ease-in-out;
    display: flex;
    &:hover{
        transform: translate3d(0px, 0px, 0px) scale3d(0.98, 0.98, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
        opacity:0.7;
    }
}

@mixin secondaryBtn{
    border-style: none;
    min-height: 47px;
    opacity: 1;
    color: #fff;
    text-align: center;
    letter-spacing: .2em;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    background-image: $secondaryGradient;
    border-radius: 12px;
    justify-content: center;
    padding: 15px 20px;
    @include font('SpaceGrotesk-Regular', 12px, 20px, 500, $white);
    transition: all .35s ease-in-out;
    display: flex;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);

    &:hover{
        transform: translate3d(0px, 0px, 0px) scale3d(0.98, 0.98, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
        opacity:0.7;
    }
}

@mixin glassmorphism{

}
