@import "./mixin";
@import "./variables";


@font-face {
    font-family: 'SpaceGrotesk-Light';
    src: url('../assets/fonts/SpaceGrotesk-Light.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SpaceGrotesk-Regular';
    src: url('../assets/fonts/SpaceGrotesk-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SpaceGrotesk-Medium';
    src: url('../assets/fonts/SpaceGrotesk-Medium.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SpaceGrotesk-SemiBold';
    src: url('../assets/fonts/SpaceGrotesk-SemiBold.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SpaceGrotesk-Bold';
    src: url('../assets/fonts/SpaceGrotesk-Bold.woff') format('woff');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'beckman-black';
    src: url('../assets/fonts/beckman-black.otf') format('otf');
    font-style: normal;
    font-display: swap;
}





// -------------------- Inter Fonts -------------------------------

@font-face {
    font-family: 'Inter-Light';
    src: url('../assets/fonts/Inter-Light.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../assets/fonts/Inter-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('../assets/fonts/Inter-Medium.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('../assets/fonts/Inter-SemiBold.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../assets/fonts/Inter-Bold.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-ExtraBold';
    src: url('../assets/fonts/Inter-ExtraBold.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

h1 {
    @include font('SpaceGrotesk-Regular', 60px, 68px, 600, $white);
    margin: 0px;
    text-transform: capitalize;

    @media only screen and (max-width:1720px) {
        @include font('SpaceGrotesk-Regular', 55px, 60.5px, 500, $white);
    }

    @media only screen and (max-width:1280px) {
        @include font('SpaceGrotesk-Regular', 50px, 55px, 500, $white);
    }

    @media only screen and (max-width:$mobile) {
        @include font('SpaceGrotesk-Regular', 45px, 49.5px, 500, $white);
    }

    &.small_title {
        @include font('SpaceGrotesk-Regular', 24px, 32px, 400, $white);
        @media only screen and (max-width:$tab){
            @include font('SpaceGrotesk-Regular', 20px, 24px, 400, $white);
        }
   
    }
}

h2 {
    @include font('SpaceGrotesk-Regular', 50px, 55px, 600, $white);
    margin: 0px;
    text-transform: capitalize;

    @media only screen and (max-width:$tab) {
        @include font('SpaceGrotesk-Regular', 45px, 49.5px, 600, $white);
    }

    @media only screen and (max-width:$mobile) {
        @include font('SpaceGrotesk-Regular', 35px, 38.5px, 600, $white);
    }
}

h3 {
    @include font('SpaceGrotesk-Regular', 40px, 44px, 600, $white);
    margin: 0px;
    text-transform: capitalize;

    @media only screen and (max-width:$tab) {
        @include font('SpaceGrotesk-Regular', 35px, 38.5px, 600, $white);
    }

    @media only screen and (max-width:$mobile) {
        @include font('SpaceGrotesk-Regular', 30px, 33px, 600, $white);
    }
    
}

h4 {
    @include font('SpaceGrotesk-Regular', 35px, 38.5px, 600, $white);
    margin: 0px;
    text-transform: capitalize;

    @media only screen and (max-width:$tab) {
        @include font('SpaceGrotesk-Regular', 30px, 33px, 600, $white);
    }

    @media only screen and (max-width:$mobile) {
        @include font('SpaceGrotesk-Regular', 25px, 27.5px, 600, $white);
    }
}

h5 {
    @include font('SpaceGrotesk-Regular', 30px, 33px, 600, $white);
    margin: 0px;
    text-transform: capitalize;

    @media only screen and (max-width:$tab) {
        @include font('SpaceGrotesk-Regular', 25px, 27.5px, 600, $white);
    }

    @media only screen and (max-width:$mobile) {
        @include font('SpaceGrotesk-Regular', 22px, 24.2px, 600, $white);
    }

    &.small_title{
        @include font('SpaceGrotesk-Regular', 20px, 24px, 400, $white);
    }
}

h6 {
    @include font('SpaceGrotesk-Regular', 13px, 15.6px, 500, $white);
    margin: 0px;
    text-transform: uppercase;

    @media only screen and (max-width:$tab) {
        @include font('SpaceGrotesk-Regular', 13px, 15.6px, 500, $white);
    }

    @media only screen and (max-width:$mobile) {
        @include font('SpaceGrotesk-Regular', 13px, 15.6px, 500, $white);
    }

}

p {
    @include font('Inter-Regular', 16px, 26px, 400, $textPrimary);
    margin: 0px;
    text-transform: capitalize;
    letter-spacing: -0.16px;
    &.small_text{
        @include font('Inter-Regular', 14px, 20px, 400, $textPrimary);
    }

    &.t-g-16{
        @include font('SpaceGrotesk-Regular', 16px, 20px, 400, $textPrimary);
    }

    &.t-g-18{
        @include font('SpaceGrotesk-Regular', 18px, 20px, 400, $textPrimary);
    }

    &.t-i-12{
        @include font('Inter-Regular', 12px, 16px, 400, $textPrimary);
    }
    &.t-i-14{
        @include font('Inter-Regular', 14px, 18px, 400, $textPrimary);
    }
    &.t-i-16{
        @include font('Inter-Regular', 16px, 20px, 400, $textPrimary);
    }
    &.t-i-20{
        @include font('Inter-Regular', 20px, 24px, 400, $textPrimary);
    }
   
}


