// Colors
$primary:#9900ff;
$secondary:#3f0efa;
$grey:#666666;
$white:#ffffff;
$dark:#000000;
$lightDark:rgba(0, 0, 0, 0.1);
$card:#222;
$cardBorder:rgba(255, 255, 255, 0.1);
$lightBorder:rgba(255, 255, 255, 0.05);
$lightBorder_1:rgba(255, 255, 255, 0.5);
$lightBorder_2:rgba(255, 255, 255, 0.2);

// Gradient
$primaryGradient:linear-gradient(315deg, #3f0efa, #90f);
$primaryGradient_1:linear-gradient(135deg, #90f 30%, #3f0efa);
$primaryGradient_2:linear-gradient(135deg, #3f0efa, #90f);
$primaryGradient_3:linear-gradient(135deg, #9558bc 12%, #3f0efa);
$primaryGradient_4:linear-gradient(225deg, #90f, #3f0efa);
$primaryGradient_5:linear-gradient(135deg, #90f, #3f0efa);
$primaryGradient_6: linear-gradient(135deg, #90f 17%, #3f0efa);

$secondaryGradient:linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));

// Break Points
$laptop:992px;
$tab:767px;
$mobile:479px;