@import "../../../../scss/common";
@import "../../../../scss/mixin";
@import "../../../../scss/typography";
@import "../../../../scss/variables";


.profile_menu_card {
    padding: 24px;
    width: 240px;
    border-radius: 8px;
    position: absolute;
    top: 90px;
    right: 0px;
    transition: all 0.5s ease-in-out;

    &::after {
        position: absolute;
        content: "";
        top: 1px;
        left: 1px;
        height:calc(100% - 2px);
        width: calc(100% - 2px);
        border-radius: 12px;
        overflow: hidden;
        background-color:$dark;
        z-index: 1;
    }

    &::before{
        position: absolute;
        content: "";
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        border-radius: 12px;
        background: linear-gradient(130deg, #ffffff66, #ffffff17);
        padding: 1px;
        backdrop-filter: blur(28px);
        transition: all 0.3s ease-in-out;
        width: 100%;
        z-index:0;
    }

    &.close {
        opacity: 01;
        display: none;
    }

    &.open {
        opacity: 1;
        display: block;
    }

    @media only screen and (max-width:$tab) {
        padding: 15px;
    }

    @media only screen and (max-width:$mobile) {
        width: 100%;
    }

    h1 {
        @include font('SpaceGrotesk-Regular', 20px, 34px, 400, $textPrimary);
        margin-bottom: 16px;
        position: relative;
        z-index: 3;
        pointer-events: none;
    }

    button {
        padding:4px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-style: none;
        background: transparent;
        gap:15px;
        margin-top:8px;
        position: relative;
        z-index: 3;
        p {
            @include font('Inter-Regular', 14px, 20px, 400, $textPrimary);
        }
    }

    &:hover {
        &::before {
            background: linear-gradient(130deg, #ffffffa0, #ffffffa0);
        }
    }
}