@import "../../scss/common";
@import "../../scss/mixin";
@import "../../scss/typography";
@import "../../scss/variables";

section.footer {
  position: relative;
  z-index: 1;
  background: $bgGradient;
  padding-top: 130px;
  padding-bottom: 50px;
  overflow: hidden;
  z-index: 5;

  @media only screen and (max-width:$tab) {
    padding-top: 80px;
    padding-bottom: 30px;
  }

  @media only screen and (max-width:$mobile) {
    padding-top: 60px;
  }

  img.pattern {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;

    &.right {
      right: -50%;
      bottom: 0px;
    }
  }

  .content_wrap {
    position: relative;
    z-index: 2;

    footer {
      width: 100%;
      .footer_title{
        display: flex;
        justify-content: flex-start;
        &.flip{
          justify-content:flex-end;
        }
        h2 {
          width: 100%;
          max-width: 800px;
          margin-bottom: 50px;        
  
          @media only screen and (max-width:$laptop) {
            text-align: center;
            margin: 0px auto 50px;
          }
  
          @media only screen and (max-width:$tab) {
            margin: 0px auto 30px;
          }
        }
      }


      

      .link_social {
        display: flex;       
        justify-content: space-between;
        align-items: center;
        gap: 25px;
            
        @media only screen and (max-width:$laptop) {
          flex-direction: column!important;
        }

        @media only screen and (max-width:$tab) {
          gap: 20px;
        }

        .links_container {
          display: flex;
          flex-wrap: wrap;
          gap: 60px;
          align-items: center;
          justify-content: flex-start;

          @media only screen and (max-width:$tab) {
            gap: 40px;
            justify-content: center;
          }

          @media only screen and (max-width:$mobile) {
            gap: 20px;
            justify-content: center;
          }

          a {
            @include font("Inter-Medium", 12px, 15.96px, 500, $white);
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 2.4px;
          }
        }

        .social_networks {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 30px;
       

          a {
            width: 40px;
            height: 40px;
            color: $white;
            background-color: $lightBorder;
            border: 1px solid $cardBorder;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .footer_center {
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        position: relative;

        @media only screen and (max-width:$tab) {
          margin-top: 30px;
          margin-bottom: 30px;
          padding-top: 30px;
          padding-bottom: 30px;
        }

        .anim_border {
          position: absolute;
          height: 1px;
          width: 100%;

          &.top {
            top: 0px;
            left: 0px;
            border-top: 1px solid rgba(255, 255, 255, 0.2)
          }

          &.bottom {
            bottom: 0px;
            left: 0px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2)
          }

        }

        .footer_grid {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 40px;

          &.flip{
            direction: rtl;
          }

          @media only screen and (max-width:$laptop) {
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            grid-row-gap: 40px;
          }

          @media only screen and (max-width:$tab) {
            display: flex;
            flex-direction: column;
            gap: 30px;
          }

          .grid_box {
            p {
              @include font("Inter-Regular", 17px, 25.5px, 400, rgba(255, 255, 255, .7));
              margin: 15px 0px 30px;
            }

            &.footer_form {
              @media only screen and (max-width:$tab) {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                  text-align: center;
                }
              }

              form {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-bottom: 1px solid $cardBorder;
                padding-bottom: 6px;

                input {
                  color: $white;
                  background-color: rgba(0, 0, 0, 0);
                  border-style: none;
                  margin-right: 0;
                  padding-bottom: 6px;
                  @include font("Inter-Regular", 17px, 24.28px, 400, $white);
                  transition: all .5s;
                  width: 350px;
                  max-width: 100%;
                  box-shadow: none;

                  @media only screen and (max-width:$mobile) {
                    width: 250px;
                  }

                  &::placeholder {
                    @include font("Inter-Regular", 17px, 24.28px, 400, $white);
                  }
                }

                button.submit {
                  height: 25px;
                  width: 25px;
                  border-style: none;
                  background-color: $white;
                  border-radius: 50%;
                  transition: all 0.3s ease-in-out;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  img {
                    width: 15px;
                  }

                  &:hover {
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                  }
                }
              }
            }

            &.footer_connect {
              padding: 0px 30px 0px;
              border-left: 1px solid rgba(255, 255, 255, 0.2);
              border-right: 1px solid rgba(255, 255, 255, 0.2);

              @media only screen and (max-width:$laptop) {
                border-right: none;
                padding-right: 0px;
              }

              @media only screen and (max-width:$tab) {
                border-left: none;
                padding-left: 0px;
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 30px 0px;

                p {
                  text-align: center;
                }
              }

              .stay_connect {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                a {
                  @include font("Inter-Medium", 14px, 18.62px, 500, $white);
                  text-decoration: none;
                  letter-spacing: 2.8px;
                }
              }
            }

            &.footer_download {
              @media only screen and (max-width:$laptop) {
                grid-column: span 2;
                display: flex;
                flex-direction: column;
                align-items: center;
              }

              @media only screen and (max-width:$tab) {
                p {
                  text-align: center;
                }
              }

              .app_wrap {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 15px;

                @media only screen and (max-width:$mobile) {
                  gap: 10px;
                }

                button {
                  -webkit-backdrop-filter: blur(5px);
                  backdrop-filter: blur(5px);
                  background-color: $lightBorder;
                  border: 1px solid $cardBorder;
                  border-radius: 12px;
                  padding: 15px 25px;
                  text-decoration: none;
                  color: $white;

                  @media only screen and (max-width:$mobile) {
                    padding: 15px 15px;
                  }

                  img {
                    max-width: 100%;
                  }
                }
              }
            }
          }
        }
      }

      .footer_bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
     

        @media only screen and (max-width:$laptop) {
          flex-direction: column!important;

          p {
            text-align: center;
          }
        }

        .left {
          
          p {
            @include font("Inter-Regular", 17px, 25.5px, 400, rgba(255, 255, 255, 0.7));
          }
        }

        .right {
          &.flip{
            order:0;
          }
          p {
            @include font("Inter-Regular", 17px, 25.5px, 400, rgba(255, 255, 255, 0.7));

            span.white {
              color: $white;
              transition: all 0.3s ease-in-out;

              &:hover {
                color: rgba(255, 255, 255, 0.7);
              }

            }


          }
        }
      }
    }
  }
}