@import "../../scss/common";
@import "../../scss/mixin";
@import "../../scss/typography";
@import "../../scss/variables";

section.footer {
  background: linear-gradient(135deg, $primary 15%, $secondary);
  padding-top: 130px;
  padding-bottom: 130px;

  .content_wrap {
    footer {
      width: 100%;

      h2 {
        width: 100%;
        max-width: 800px;
        margin-bottom: 50px;
      }

      .link_social {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .links_container {
          display: flex;
          gap: 60px;
          align-items: center;
          justify-content: flex-start;

          a {
            @include font("Syne-Medium", 12px, 15.96px, 500, $white);
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 2.4px;
          }
        }

        .social_networks {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 30px;

          a {
            width: 40px;
            height: 40px;
            color: $white;
            background-color: $lightBorder;
            border: 1px solid $cardBorder;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .footer_center {
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        .footer_grid {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 40px;

          .grid_box {
            p {
              @include font("Syne-Regular", 17px, 25.5px, 400, rgba(255, 255, 255, .7));
              margin: 15px 0px 30px;
            }

            &.footer_form{
              form{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                input{
                  color: $white;
                  background-color: rgba(0, 0, 0, 0);
                  border-style: none;
                  border-bottom: 1px solid $cardBorder;
                  margin-bottom: 10px;
                  margin-right: 0;
                  padding-bottom: 6px;
                  @include font("Syne-Regular", 17px, 24.28px, 400, $white);
                  transition: all .5s;
                  width:350px;
                  &::placeholder{
                    @include font("Syne-Regular", 17px, 24.28px, 400, $white);
                  }
                }
                button.submit{
                  height:20px;
                  width:20px;
                  border-style: none;
                  background-color:$white;
                  border-radius: 50%;
                  transition:all 0.3s ease-in-out;
                  display: flex;
                  justify-content:center;
                  align-items: center;

                  img{
                    width:15px;
                  }

                  &:hover{
                    transform:rotate(-45deg);
                  }
                }
              }
            }

            &.footer_connect {
              padding: 0px 30px 0px;
              border-left: 1px solid rgba(255, 255, 255, 0.2);
              border-right: 1px solid rgba(255, 255, 255, 0.2);
              .stay_connect{
                display: flex;
                flex-direction: column;
                a{
                    @include font("Syne-Medium", 14px, 18.62px, 500, $white);
                    text-decoration: none;
                    letter-spacing: 2.8px;
                }
              }
            }

            &.footer_download{
              .app_wrap{
                display: flex;
                align-items:center;
                justify-content: flex-start;
                gap:15px;
                a{
                  -webkit-backdrop-filter: blur(5px);
                  backdrop-filter: blur(5px);
                  background-color: $lightBorder;
                  border: 1px solid $cardBorder;
                  border-radius: 12px;
                  padding: 15px 25px;
                }
              }
            }
          }
        }
      }

      .footer_bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
          p{
            @include font("Syne-Regular", 17px, 25.5px, 400, rgba(255, 255, 255, 0.7));
          }
        }
        .right{
          p{
            @include font("Syne-Regular", 17px, 25.5px, 400, rgba(255, 255, 255, 0.7));
            span.white{
              color:$white;
              transition:all 0.3s ease-in-out;
              &:hover{
                color:rgba(255, 255, 255, 0.7);
              }
              
            }

           
          }
        }
      }
    }
  }
}
