@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";

section.all_products {
    .content_wrap {
        .top_btns {
            display: flex;
            justify-content: space-between;
            align-items: center;
           button{
            border-style: none;
            background-color: transparent;
           }
           .catrgories{
            display: flex;
            justify-content: flex-end;
            align-items:center;
            gap:20px;

            button{
                color:$white;
            }
           }

        }
    }
}