@import "../../../scss/common";
@import "../../../scss/mixin";
@import "../../../scss/typography";
@import "../../../scss/variables";

section.intelligent_team {
    .content_wrap {
        position:relative;
        .title_content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 200px;
            margin-bottom:30px;
           
            h2, p{
                align-self:center;
            }
            @media only screen and (max-width:$tab){
                grid-template-columns: 1fr;
                gap:30px;    
                h2, p{
                 text-align: center;
                }
            }
        }

        .bottom_line{
            height:1px;
            width:100%;
            background-color:$lightBorder_2;
        }
    }
}